html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(2, 26, 54);
  color: rgb(250, 244, 244);
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

.sub-title {
  color: blue;
  font-size: 1rem;
}

small {
  color: blue;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

.title {
  font-size: 4rem;
  text-align: center;
  text-decoration: overline;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/*
@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

*/


.card-list {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card--title {
  overflow-wrap: inherit;
  margin: 4rem;
  background-color: grey;
  width: 350px;
  display: block;
}


.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.scrolling-wrapper {
  padding: 10px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  display: block;
}
